body {
  background: #2c2f33;
  margin: 0;
  color: #8c8c8c;
  font-family: 'Montserrat', sans-serif;
}

hr {
  height: 2.75px;
  border-width: 0px;
  color: #8c8c8c;
  background-color: #8c8c8c;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: white;
  text-align: center;
}

h3 {
text-align: center;
}

a {
  color: #c4c4c4;
}

.btn {
  background: cornflowerblue;
  padding: 10px;
  color: white;
  border-radius: 5px;
  transition: .4s;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}

.btn:hover {
  background: tomato;
  color: #fff;
  transition: .4s;
}

.footer {
  font-size: 12px;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #121212;
}

div.ip {
  max-width: device-width;
  top: 0;
  bottom: 0;
  background-color: #23272a;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  position: relative;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

div.e404 {
  display: flex;
  justify-content: center;
  align-items: center;
}


